/*used root to define colors so you don't need to retype in every section */
:root{
    --CardPanelBackground: #0e1a2b;
    --inputBackground: #182c47;
    --buttonColor: #5692e8;
    --headingButtonText: #ffffff;
    --textColor: #c1d1e8;
}

* {
    box-sizing: border-box;
    }

.body{
    margin: 50px;
}

h1{
    margin-right: 12rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    /*body background vertical linear gradient*/
    background: linear-gradient(#081221, #03080f);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headings {
    display: flex;
    flex-direction: row;
    color: #ffffff; /*headings, button text, labels*/
    color: #c1d1e8; /*text color*/
    font-family: "Montserrat", sans-serif;
}

#headings>h1:hover{
    color: var(--buttonColor);
}

#content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (max-width: 800px)
{
    #content{
        flex-direction: column;
        align-items: center;
    }
}

#contact{
    display: none;
    font-family: "Montserrat";
    color: var(--textColor);
}

.sidepanel {
    color: var(--textColor);
    font-family: "Mulish", sans-serif;
    background: var(--CardPanelBackground);
    padding: 5pt;
    margin-right: 75px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#gamebox {
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    padding: 5pt;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    background: var(--CardPanelBackground);
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

/*make width 100% to ensure it takes up full width of card - useful for short summary games that threw rating position into chaos */
.card-summary{
    width: 100%;
}

h2, h3 {
    font-size: 12pt;
}

h4 {
    font-size: 10pt;
}

div > p{
    font-size: 6pt;
}

/*making a quick blue background using square with cut-off corners to symbolise blue circle around number */
.score{
    padding-top: 0.25rem;
    align-self: center;
    justify-self: flex-end;
    background: var(--buttonColor);
    border-radius: 50%;
    width: 30px; height: 30px;
    text-align: center;
}

input{
    background: var(--inputBackground);
    border: none;
    padding: 6px;
}

/*input text color defaults as an opaque color so changing to headingButtonText color */
::placeholder {
    color: var(--headingButtonText);
  }

select{
    background: var(--inputBackground);
    color: var(--textColor);
}

button{
    align-self: flex-end;
    background: var(--buttonColor);
    border: none;
    color: var(--textColor);
    padding: 0.25rem;
    width: 4rem;
}
